.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 400px;
    margin-bottom: 50px;
}

#rock, #paper, #scissors {
    font-family: 'Poppins';
    color: #fff !important;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    background: #60a3bc;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

#rock:hover, #paper:hover, #scissors:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}